# Desktop Entry Specification: https://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html
[Desktop Entry]
Type=Application
Name=amp#
Comment=An audio file player with simple and intuitive gui
Icon=amp_48
Exec=amp.EtoForms
Path=~
Terminal=true
Categories=AudioVideo
